.projects-list {
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project {
  width: 450px;
  max-width: 500px;
  padding-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}
.project-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}