/* While the padding on the headers looks nice on more standard
   websites, it looks a bit strange when combined with the printer
   format */
h1 {
  text-align: center;
  margin-bottom: 5px;
}
address {
  text-align: center;
  font-style: normal;
  margin-bottom: 20px;
}
h2, h3, h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
/* The lists have a similar issue, especially for the projects
   lists which has a lot of spacing inherently */
ul {
  margin-top: 0px;
}
p {
  margin-top: 0px;
}
/* Using top padding without bottom padding makes up for the
   ul having no bottom margin / padding while also not making
   an excessive space below */
.projects-list {
  padding: 10px 0 0 0;
  margin: 0 0 0 0;
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  width: 470px;
  padding-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
.project p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
/* Only one wide project per line */
.wideproject {
  padding-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  width: 800px;
}
.wideproject p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
/* Used for the engineersinauburn.com hyperlink, only
   emphasized by a small increase in font size */
.subheader {
  font-weight: normal;
  font-size: 110%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.extraspace {
  padding-bottom: 10px;
}

/* Basically make everything have less padding and be smaller */
@media print {
  address {
    margin-bottom: 10px;
  }
  .project {
    width: 245px;
    padding-bottom: 15px;
  }
  a {
    font-style: normal;
    text-decoration: none;
    color: black;
  }
  
  .noprint {
    display: none;
  }
  
  ul {
    margin-bottom: 0px;
  }
}