h1 {
  text-align: center;
  margin-bottom: 5px;
}
address {
  text-align: center;
  font-style: normal;
  margin-bottom: 20px;
}
h2, h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
ul {
  margin-top: 0px;
}
p {
  margin-top: 0px;
}
.projects-list {
  padding: 10px 0 0 0;
  margin: 0 0 0 0;
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  width: 470px;
  padding-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
.project p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.subheader {
  font-weight: normal;
  font-size: 110%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.extraspace {
  padding-bottom: 10px;
}

@media print {
  address {
    margin-bottom: 10px;
  }
  .project {
    width: 245px;
    padding-bottom: 15px;
  }
  a {
    font-style: normal;
    text-decoration: none;
    color: black;
  }
  
  .noprint {
    display: none;
  }
}